@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
* {
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
}
.brand-text {
    text-align: center;
}
.user-form {
  width: 100%;
  max-width: 700px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 0 auto;
}
.user-form input {
  width: 100%;
  display: block;
  background-color: #4c2885;
  border: none;
  border-radius: 30px 0px 0px 30px;
  color: #fff;
  padding: 1rem;
  font-family: inherit;
  font-size: 1rem;
  box-shadow: 0 5px 10px rgb(154 160 185), 0 15px 40px rgb(0 0 0 / 18%);
}
.user-form input::placeholder {
  color: #bbb;
}
.user-form input:focus {
  outline: none;
}
.search-btn{
  cursor: pointer;
  background: rgb(231, 185, 185);
  border: none;
  border-radius: 0px 30px 30px 0px;
  font-size: 16px;
  box-shadow: 0 5px 10px rgb(154 160 185), 0 15px 40px rgb(0 0 0 / 18%);
}
.search-btn:hover{
  background-color: #4c2885;
  color: #fff;
  transition: all 0.9s;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #2196F3;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 20px;
  text-align: center;
}
.details-btn{
  padding: 10px 20px;
  border: none;
  background-color: #4c2885;
  color: #d7d7d7;
  cursor: pointer;
  border-radius: 20px;
}
.details-btn:hover{
  background-color: rgb(231, 185, 185);
  color: #4c2885;
  transition: all 0.8s;
}
.single-page{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  background-color: #2196F3;
  margin: 0 auto;
}
/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}
@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}
@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
/* spinner css */
.spinner{
  margin: 0 auto;
  width: 80px;
  height: 80px;
}
.spinner:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #58b0e3 #ebcccc #3befa4 #302f2fb8;
  animation: spinner 1.2s infinite;
}
@keyframes spinner{
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
/* error message */
h1#error {
    text-align: center;
    color: rgb(243, 98, 98);
}
/* show more btn */
button.show-more {
    text-align: center;
    display: none;
    margin: 0 auto;
    padding: 8px 12px;
    cursor: pointer;
    background: yellowgreen;
    border-radius: 23px;
}
.product-title{
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
/* table style */
  table, td{  
  border: 1px solid #121212;
  text-align: left;    
  }
  table {
  border-collapse: collapse;
  width: 100%;
  }
  th, td {
  padding: 15px;
    }
.avatar {
  border-radius: 5%;
  border: 1.5px solid #2a2a72;
}
@media (max-width: 500px) {
.grid-container{
  grid-template-columns:repeat(1, 1fr)!important;
}
}